/*---------------------------
	Fonts
----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// fonts
$base-font-size: 18;
$base-font: "Be Vietnam Pro", "Poppins", sans-serif;
$font-style-2: "Newsreader";
$heading-font: "Anton";

// color
$dark-gray: #7B7F85; //
$white-gray: #F5F6F7; //
$mid-gray: #51575E; //
$body-color: #fff;
$white: #fff; //
$light: #C1C4C8;
$black: #000; //

$theme-primary-color: #2B2E33; //
$body-bg-color: #F5F6F7; //
$section-bg-color: #1B1B1B; //
$text-color: #2B2E33; //
$text-color-s2: #6D7177; //
$text-color-s3: #323131; //
$heading-color: #2B2E33; //
$border-color: #D7D8DA; //
