ul.smothscroll {
    position: fixed;
    bottom: 25px;
    right:30px;
    list-style: none;
    z-index: 99;
}
ul.smothscroll button {
    background-color: rgba(43, 46, 51, 0.8);
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius:50%;
    display: block;
    text-align: center;
    color: #fff;
    background-size: 200%,1px;
    background-position: 0;
    border: 2px solid #2B2E33;
}
ul.smothscroll button:hover {
    background-color:#2B2E33;
    color: #fff;
}

@media(max-width:767px){
    ul.smothscroll button {
        width: 30px;
        height: 30px;
        line-height: 25px;
    }
}